.wraper{
position: relative;
height: 100vh;
overflow: hidden;
width: 100%;

}
.form-container{
    position: relative;
    z-index: 1;
    align-items: center;
    margin: 3% auto;
    background-color: transparent;
    width: 600px;
    height: 600px;


}
.wraper video{
    top: 50%;
    left: 50%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

/*.form-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    border: 10px dotted green;
    display: flex;
    transform: translate(-50%, -50%);
    

}*/
@keyframes spin {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
.circular-border{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border: 10px dashed rgba(0, 0, 255, 0.404);
    display: flex;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 1, 1, 0.603);


}
form{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

}
.input-field{
    border-radius: 25px;
    width: 60%;
    height: 40px;
    margin-left: 105px;
    color: rgba(0, 0, 255, 0.623);
    font-style: italic;
    text-align: center;
    font-size: 25px;
    background-color: transparent;
    font-weight: bold;
}
.input-field:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 255, 0.733);
    border-color: white;
    background-color: transparent;
}
.input-field:focus{
    border-color: blue;
    background-color: transparent;
}
label{
    color: white;
    font-weight: bolder;
}
.login{
    width: 45%;
    height: 50px;
    border-radius: 25px;
    margin-inline-start: 150px;
    color: green;
    background-color: transparent;
    font-size: 35px;
    font-style: italic;

}
.login:hover{
    background-color: green;
    color: white;
    border-color: white;
}
.reset{
    width: 25%;
    height: 50px;
    border-radius: 25px;
    margin-inline-start: 230px;
    background-color: transparent;
    border-color: black;
    color: red;


}
.reset:hover{
    color: white;
    background-color: red;
    border-color: white;
}
h1{
    text-decoration: double;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic
}
