section{
   text-align: center;
    position: relative;
     z-index: 1;
     align-items: center;
     padding: 20px;
      margin: 3% auto;
      width: 100%;
      height: 100vh;

}
.form-container{
   /* background-color: #EFEAE4;*/
    border-radius: 40px;
     color: #333333;
     background-color:rgba(1, 1, 1, 0.486);
     max-width: 35%;
     position: relative;
     z-index: 1;
     align-items: center;
     padding: 10px;
      margin: 3% auto;
      margin-top: 3%;

}
    

.input-field{
    width: 70%;
    color: rgb(0, 128, 68);
    font-size: 20px;
    font-style: italic;
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: wavy;

    
}
.input-field:focus{
    border-color: green;
    
}
label{
    color: black;
}
h1{
    font-weight: bold;
    color: green;
    font-weight: bolder;
    font-size: 40px;


}
input{
    height: 25px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;


}
a:hover{
    text-decoration-style: wavy;
    color: green;
    font-size: 21px;
    text-decoration-line: underline;

}
#fa{
    float: inline-end;
     text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-decoration-style: wavy;

}
#fa:hover{
    color: green;
    text-decoration: underline;
}
section video{
    top: 50%;
    left: 50%;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;


}