.form-container{
     border-radius: 30px;
     color: #333333;
     background-color:rgba(1, 1, 1, 0.527);
     max-width: 28%;
    margin: 3% auto;
     height: 60%;
     position: relative;
     z-index: 1;
     align-items: center;
     padding: 20px;
     margin-top: 7%;
    
}
section video{
    top: 50%;
    left: 50%;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;


}
section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.head{
    color: green;
    font-size: 20px;
}
.btn{
    background-color: transparent;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    height: 40px;
    border-color: green;
    color: black;
    font-size: 32px;
    font-weight: bold;

}
.btn:hover{
    background-color: black;
    box-shadow: green;
    color: green;
    font-weight: bold;


}
.button{
    background-color: transparent;
    border-radius: 20px;
    width: 35%;
    text-align: center;
    height: 40px;
    border-color: black;
    color: green;
    font-size: 32px;
    font-weight: bold;
}
.button:hover{
     background-color: green;
    box-shadow: green;
    color: black;
    font-weight: bold;

}
#message{
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
    border-radius: 20px;
    border-color:30px black;
    background-color: transparent;
}
a{
    color: green;
    text-decoration: solid;
    border-color: green;
    background-color: transparent;
}
a:hover{
    text-decoration: underline;
    color: yellowgreen;
}
.t{
    color: black;
}

