.header {
  position: fixed; /* or sticky,fixed position */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* fixed height instead of 4% */
  background-color: gray;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  z-index: 0;
}


  a{
    color: yellowgreen;
    transition: color 0.3s;
    font-weight: 100px;
    font-size: 38px;
    margin: 0 20px;
    position: relative;
    padding: 14px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background-color: transparent;
    color: yellowgreen;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px yellowgreen, 0 0 20px ;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-color: transparent;
    fill: transparent;
    border-radius: 10px;


  }
  a:hover{
    animation: colorglow 0.3s linear infinite;
}
@keyframes colorglow{
  0%{background-color: transparent;
  border-color: orange;
  color: orange;
  box-shadow: 0 0 20px orange, 0 0 40px orange;
  }
  20%{background-color: transparent;
    border-color: orange;
    box-shadow: 0 0 20px palevioletred, 0 0 40px palevioletred;
    color: palevioletred;

  }
  40%{
    background-color: transparent;
    border-color: orange;
    box-shadow: 0 0 20px purple, 0 0 40px purple;
    color: purple;
  }
  60%{
    background-color: transparent;
    box-shadow: 0 0 20px yellowgreen;
    color: yellowgreen;
    border-color: yellowgreen;

  }
  80%{
    background-color: transparent;
    color: cyan;
    border-color: cyan;
    box-shadow: 0 0 20px cyan, 0 0 20px cyan;
  }
  100%{
    background-color: transparent;
    color: blueviolet;
    border-color: transparent;
    box-shadow: blueviolet;
  }
}
a i,svg{
  background-color: transparent;
  background: none;
}

footer{
  text-align: center;
  padding: 20px 0;
}
 html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .background {
    width: 100vw;
    height: 100vh;
    background: conic-gradient(red, yellow, green, blue, red);
    animation: spin 15s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .container{
    background-color: black;
    border-color:black;
    width: 50%;
    border-color: 10px;
  }
  .bar{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 100%;
    height: 1%;
    border-radius: 10px;
  }
  .wraper{
    background-color: transparent;
    width: 50%;
    border-color: transparent;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    display: block;
    align-items: center;
    margin-left: 30%;
  }
.container2{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container3{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container4{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container5{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container6{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container7{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container8{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container9{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container10{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container11{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
  }
  .container12{
    background-color: black;
    border-color:black;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .bar1{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 100%;
    height: 1%;
    border-radius: 10px;
  }
  .bar2{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 80%;
    height: 1%;
    border-radius: 10px;
  }
  .bar3{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 70%;
    height: 1%;
    border-radius: 10px;
  }
  .bar4{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 90%;
    height: 1%;
    border-radius: 10px;
  }
  .bar5{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 80%;
    height: 1%;
    border-radius: 10px;
  }
  .bar6{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 82%;
    height: 1%;
    border-radius: 10px;
  }
  .bar7{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 93%;
    height: 1%;
    border-radius: 10px;
  }
  .bar8{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 81%;
    height: 1%;
    border-radius: 10px;
  }
  .bar9{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 80%;
    height: 1%;
    border-radius: 10px;
  }
  .bar10{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 72%;
    height: 1%;
    border-radius: 10px;
  }
  .bar11{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 97%;
    height: 1%;
    border-radius: 10px;
  }
  .bar12{
    background-color: yellowgreen;
    border-color: yellowgreen;
    width: 77%;
    height: 1%;
    border-radius: 10px;
  }
  h1{
    color: white;
    text-decoration: underline;
    text-decoration-color: yellowgreen;
    text-decoration-style: double;
    text-decoration-thickness: 1px;
    font-size: 30px;
    margin-right: 45%;
  }
body{
  background-image: url('my skills.jpg');
  background-size: cover;

}
.wrap{
  background-color: transparent;
  border-color: transparent;
  margin-left: 30%;
  background-color: transparent;
    width: 100%;
    border-color: transparent;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
    display: block;
    align-items: center;
    margin-left: 30%;
}
.circle{
  width: 150px;
  height: 150px;
  position: relative;
  width: 150px; 
  border-radius: 50%;
  background: conic-gradient(grey 100%,yellowgreen 0);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center; 
  color: yellowgreen;
  border-color: yellowgreen; 
  margin-left: 45%;  

}
.circle img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section{
  text-align: center;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.section1{
  text-align: center;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-left: 45%;
}
.circle1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(grey 90%, yellowgreen 0); /* 75% filled */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: yellowgreen;
    border-color: yellowgreen;
    margin-left: 45%;  


  }

.circle2{
  background: conic-gradient(grey 95%, yellowgreen 0);
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: yellowgreen;
  border-radius: 50%;
  font-size: 32px;
  border-color: yellowgreen 100%;
  margin-left: 45%;  


}
.circle3{
  border-radius: 50%;
  background: conic-gradient(grey 61%,yellowgreen);
  align-items: center;
  justify-items: center;
  color: yellowgreen;
  font-weight: bold;
  font-size: 32px;
  border-color: yellowgreen;
  display: flex;
  width: 150px;
  height: 150px;
  margin-left: 45%;  


}
.circle4{
  border-radius:50% ;
  background: conic-gradient(grey 70%,yellowgreen 0);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  border-color: yellowgreen;
  display: flex;
  width: 150px;
  height: 150px;
  color: yellowgreen;
  margin-left: 45%;  

}