
a:hover{
    background-color: black;
    color: yellowgreen;
    text-shadow: 0 0 5px yellowgreen, 0 0 10px yellowgreen, 0 0 20px yellowgreen;
}
a:active{
    background-color:yellowgreen;
    color: black;
    font-style: italic;
}
a{
    color: green;
    font-weight: 100px;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 38px;
    margin: 0 20px;
}
a{
    color: green;
    font-weight: 100px;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 38px;
    margin: 0 20px;
    transition: transform 0.3s ease;
    position: relative;
    display: inline-block;
    padding: 14px 30px;
    color: green;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid green;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px black, 0 0 20px black;

}
 @keyframes colorGlow {
    0% {
      border-color: #00ffff;
      box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
      color: #00ffff;
      background: transparent;
    }
    25%{
        border-color: black;
        box-shadow: 0 0 20px black, 0 0 40px black;
        background-color: transparent;
        color: black;
    }
    33% {
      border-color: #ff00ff;
      box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff;
      color: #ff00ff;
      background: transparent;
    }
    66% {
      border-color: #ffcc00;
      box-shadow: 0 0 20px #ffcc00, 0 0 40px #ffcc00;
      color: #ffcc00;
      background: transparent;
    }
    100% {
      border-color: #00ffff;
      box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
      color: #00ffff;
      background: transparent;
    }
  }
a:hover{
    animation: colorGlow 2s linear infinite;
    
}
a:hover{
    color: yellowgreen;
    box-shadow: 0 0 10px black;
    background-color: black;
    box-sizing:60px border-box;
}
a:link{
    text-decoration: none;
    color: wheat;
    transition: color 0.3s, text-shadow 0.3s;
}
a:link img{
    fill: yellowgreen;
    transition: fill 0.3s, filter 0.3s;
}
a:link img:hover{
    fill: white;
    filter: drop-shadow(0 0 10px wheat);
}
.field{
    background-color: black;
    padding-top: 80px;
}
.field p{
    color: whitesmoke;
}
.field h1{
    color: yellowgreen;
}
.legend{
    color: yellowgreen;
}
.field2{
    background-color: black;
}
.dt{
    color: yellowgreen;
}
.dt2{
    color: yellowgreen;
}
.dd{
 color: wheat;
}   
.dd2{
    color: wheat;
}
.div h1{
    color: yellowgreen;
}
.div2 h1{
    color: yellowgreen;
}
.field3{
    float: inline-start;
    background-color: black;
    width: 46%;
    border-radius: 10px;
    border-color: black;
    margin-right: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, boxshadow 0.3s ease;


}
.field3 p{
    color: wheat;
}
.field3 h1{
    color: yellowgreen;
}
.field3:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 25px yellowgreen;
}
.cd{
    background-color: black;
    width: 46%;
    border-radius: 10px;
    border-color: black;
    margin-right: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, boxshadow 0.3s ease;

}
.cd:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 25px yellowgreen;
}
.cd h1{
    color: yellowgreen;
}
.dh{
    width: 400px;
    height: 400px;
    position: relative;
}
.dh img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dh::before{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px dashed yellowgreen;
    animation: spin 5s linear infinite;
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
}
@keyframes spin{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
.ce{
    background-color: black;
    border-color: black;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
    height: 485px;
    float: right;
}
.ce:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 25px yellowgreen;
}
.ce h1{
    color: yellowgreen;
}
.cf{
    background-color: transparent;
    border-color: transparent;
    border-radius: 60px;
    margin-right: 10px;
    width: 100%;
    height: 25%;
    padding: 25px;

    
}
.cf:hover{
    transform: translateX(-20px);
    box-shadow: 0 10px 25px purple;
}
.pdf{
    width: 800px;
    height: 500px;
    background-color: black;
    border-color: yellowgreen;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: transform 0.3s ease, boxshadow 0.3s ease;

}
.pdf:hover{
    box-shadow: 0 10px 25px yellowgreen;
    transform: translateY(-20px);
}
a.container:hover{
    background-color: yellow;
}
header{
    position: fixed;
    z-index: 9999;
    padding: 10px 0;
    background-color: yellowgreen;
    width: 100%;
    height: 7%;

}
.cxx{
    text-align: center;
    padding: 20px 0;
}
.cc{
    text-align: center;
    padding: 20px 0;
}



