button{
    border-radius: 0.5em;
    width: 4em;
    height: 4em;
}
.keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 0.5em;
    padding: 2px;
    margin-top: 0.5em;
 

}
#input-key{
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    font-size: 0.85em;
    border: 3px solid rgba(255, 255, 255, 0.123);
    font-weight: bold;
    
}
#input-key:hover{
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
    font-size: 0.85em;
    border: 3px solid rgba(255, 255, 255, 0.123);
    font-weight: bold;
    
}
#display{
    width: 18em;
    height: 6em;
    border-radius: 1em;
    background-color: rgba(173, 216, 230, 0.301);
    border: 0.4em solid lightblue;
    margin-top: 1.2em;
    color: white;
}
.caculator-container{
    width: 16.5em;
    background-color: black;
    text-align: center;
    padding: 1.3em;
    border-radius: 2em;
        perspective: 80px;

       
}
body{
    justify-content: center;
    height: 100vh;
    align-items: center;
    display: flex;
}
#operator{
    color: white;
    background-color: chocolate;
    font-weight: bolder;
    font-size: 0.85;
    font-family: Arial, Helvetica, sans-serif;
}
#operator:hover{
    color: chocolate;
    background-color: white;
}
#operator2{
    color: white;
    background-color: red;
}
#operator2:hover{
    color: red;
    background-color: white;
}